a.logo {
	display: inline-block;
	background: url(../images/mo.png) no-repeat;
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 5px;
}

.navbar .nav>li>a {
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.navbar-inner { //
	background-image: -webkit-linear-gradient(top, #808080, #808080);
}

.table-report {overflow：auto;
	height: 300px;
}
/* thead { display:block;  margin:0px; cell-spacing:0px; left:0px; }
tbody { display:block; overflow:auto; height:100px; }
th { height:50px; width:80px; }
td { height:50px; width:80px; margin:0px; cell-spacing:0px;} */