a.logo {
	display: inline-block;
	background: url(../images/logo.png) no-repeat;
	background-size: 150px 41px;
	height: 41px;
	width: 130px;
	float: left;
	margin-top: 0px;
}

.navbar .nav>li>a {
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.navbar-inner { //
	background-image: -webkit-linear-gradient(top, #808080, #808080);
}